@model IEnumerable<IdentityRole>

<div class="container-fluid" style="margin-top:6%;">
    <div class="row">
        <div class="col-md-8">
            <table class="table-hover table-responsive-md table-bordered text-center">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Role Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>@role.Id</td>
                            <td>@role.Name</td>
                            <td>
                                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@role.Id">Edit</a>
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

